<div>
    {{#each aircraftPosition as |position|}}

    {{position.ID}}
    {{position.Reg}}
    {{position.tRegJourney_ID}}
    {{position.AircraftPositionSource_ID}}
    {{position.AircraftPositionType}}
    {{position.Timestamp}}
    {{position.Latitude}}
    {{position.Longitude}}
    {{position.Altitude}}
    {{position.Speed}}
    {{position.Track}}
    {{position.ID}}
    {{position.ID}}

    {{/each}}
</div>
