{{#link-to 'aircrafts'}}
    {{fa-icon "expand" size=3}}    
{{/link-to}}

<br><br>

<div>
    {{#each aircraftList as |aircraft|}}
        <div class="position ">            
            {{#cp-panel as |p|}}
                {{#p.toggle }}                
                    <p class="accordionHeader" {{action "filterAircraftPositions" aircraft}} >{{aircraft.Reg}} </p>                    
                {{/p.toggle}}

                {{#p.body}}
                    {{#each-in aircraft as |key value|}}
                    <br>
                    <p class="container-content-body">
                        `{{key}}`:`{{value}}`
                    </p>
                        {{/each-in}}
                        {{!-- clickcontent --}}
                    
                {{/p.body}}
            {{/cp-panel}}            
            <br><br><br>
        </div>        
    {{/each}} 
</div>


