{{#link-to 'flights'}}
    {{fa-icon "expand" size=3}}    
{{/link-to}}
<br><br>
{{#each flightList as |flight|}}
    <div class="position">
        {{#cp-panel as |p|}}
            {{#p.toggle}}
                <p class="accordionHeader">{{flight.ID}} </p>                
            {{/p.toggle}}

            {{#p.body}}
                {{!-- {{#each-in flight as |key value|}}
                <br>
                `{{key}}`:`{{value}}`
                {{/each-in}} --}}
                {{flight.Place_IDDeparture.ID}} <br>
                {{flight.Place_IDDeparture.Place}} <br>
                {{flight.Place_IDDeparture.PlaceName}} <br>
                {{flight.Place_IDDeparture.IATACode}} <br>
                {{flight.Place_IDDeparture.ICAOCode}} <br>
                {{flight.Place_IDDeparture.Latitude}} <br>
                {{flight.Place_IDDeparture.Longitude}} <br>
                {{flight.Place_IDDeparture.uRALBase_ID}} <br>
                {{flight.Place_IDDeparture.PlaceName}} <br>
                <br><br>
                {{flight.Customer_ID.ID}} <br>
                {{flight.Customer_ID.Description}} <br>
                {{flight.Customer_ID.Show}} <br>
                <br><br>
                {{flight.Aircraft_ID.ID}} <br>
                {{flight.Aircraft_ID.Reg}} <br>
                <br><br>
                {{flight.FlightStatus_ID.ID}} <br>
                {{flight.FlightStatus_ID.Status}} <br>
                {{flight.FlightStatus_ID.Colour}} <br>
                <br><br>
                {{flight.FlightType_ID.ID}} <br>
                {{flight.FlightType_ID.Description}} <br>
                <br><br>
                {{flight.FlightNumber}} <br>
                {{flight.FlightDate}} <br>
                <br><br>
                {{flight.ScheduleDepartureTime}} <br>
                {{flight.ScheduleArrivalTime}} <br>
                {{flight.DepartureTime}} <br>
                {{flight.ArrivalTime}} <br>
                {{flight.TakeOffTime}} <br>
                {{flight.LandingTime}} <br>
            {{/p.body}}
        {{/cp-panel}}
    </div>        
{{/each}}
