{{outlet}}
<br>
potatoes
<br><br>
		{{!-- {{aircraft-list}}  --}}


{{!-- {{log model.aircrafts }} --}}

<svg  >
  <circle cx="50" cy="50" r="10" stroke="white" stroke-width="1.5" fill="rgb(43, 133, 128)" />  
</svg> 
<div class="sliding-middle-out">
	¬ Aircrafts
</div>


<svg >
  <circle cx="50" cy="50" r="10" stroke="white" stroke-width="1.5" fill="blue" />  
</svg> 
<div class="sliding-middle-out">
	¬ Aircraft Positions
</div>

<svg >
  <circle cx="50" cy="50" r="10" stroke="white" stroke-width="1.5" fill="yellow" />  
</svg> 
<div class="sliding-middle-out">
	¬ Flights
</div>

<div>
	<div>
		<div class="col-lg-offset-1 col-lg-3"> {{aircraft-list}} </div>
		<div class="col-lg-offset-1 col-lg-3"> 
			{{aircraft-positions}} 			
		</div>
		<div class="col-lg-offset-1 col-lg-3"> {{flight-list}} </div>
		
	</div>
</div>





